.PortfolioIndex {
    text-align: center;

    &_items {
        min-height: 300px;
        overflow: hidden;
        margin-bottom: -20px;

        &-elt {
            position: relative;
            display: flex;
        }
    }

    &_right {
        transform : rotate(180deg);
    }

    &_carroussel {
        &-left {
            align-items: center;
            cursor: pointer;
            display: flex;
            height: 98vh;
            position: absolute;
            left: 0;
            background: transparent;
            z-index: 99;

            &:hover {
                background: hsla(0,0%,100%,.5);
                transition: all .5s ease 0s;
            }
        }

        &-right {
            align-items: center;
            cursor: pointer;
            display: flex;
            height: 98vh;
            position: absolute;
            right: 0;
            background: transparent;
            z-index: 99;

            &:hover {
                background: hsla(0,0%,100%,.5);
                transition: all .5s ease 0s;
            }
        }

        
    }
}

.item {
    height: 100vh;
    min-width: 100vw;
}